@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    
}


.heading-text h1{
    display: flex;
    justify-content: center;
    padding-top:29px;
    font-family: 'Bebas Neue', cursive;
}


.container{
    text-align: center;
    height: 90vh;
}

.box{
    
    margin: 20px;
    /* box-shadow:  0 -1px 0 0 rgba(28, 30, 32, 0.12); */
    
}

.box input{
    width: 50vw;
    padding: 20px 4px;
    font-size: 20px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: 2px solid grey; 
}

.box textarea{
    width: 50vw;
    height: 15vh;
    padding: 6px 4px;
    font-size: 20px;
    outline: none;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid gray;
}

.box input:hover{
    border: 2px solid rgb(149, 190, 149);
    
    
}

.box textarea:hover{
    border: 2px solid rgb(149, 190, 149);
}

.btn{
    width: 51vw;
    height: 6vh;
    background: none;
    outline: none;
    border:2px solid gray;
    border-radius: 5px ;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    font-size: 1.5em;
}

.btn:hover{
    color: rgb(114, 112, 112);
}

.btn:active{
    background-color:rgb(149, 190, 149);
    color: white;
    border: 2px solid rgb(149, 190, 149);
    
}



@media only screen and (max-width:600px){
    .box input{
        width: 60vw;
        border-radius: 4px;
    }
    
    .box textarea{
        width: 60vw;
        border-radius: 4px;
    }
    
    .btn{
        width: 61vw;
        border-radius:4px;
    }
}

@media only screen and (max-width:400px){
    .box input{
        font-size: small;
        height: 2vh;
        padding: 15px 4px;

    }

    .box textarea{
        font-size: small;
        height: 8vh;
    }

    .btn{
        font-size: small;
        height:4vh;
    }

}

@media only screen and (max-width:300px){
    .btn{
        height: 5vh;
    }
}
