@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: 'Bebas Neue', cursive;
   
}

/* skill image css */

.container img{
    width: 10vw;
    /* box-shadow: 0px 0px 3px rgb(204, 198, 198); */
    /* padding: 5px; */
    /* margin: 3px; */
}


.img-box{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* skill slide css */

/* .slide1{
    display: inline-block;
    width: 400px;
    height: 8px;
    background-color: red;
    margin-bottom:30px;

}
.slide2{
    display: inline-block;
    width: 300px;
    height: 8px;
    background-color:rgb(41, 101, 241);
    margin-bottom:30px;

}
.slide3{
    display: inline-block;
    width: 300px;
    height: 8px;
    background-color: rgb(226, 226, 51);
    margin-bottom:30px;

}
.slide4{
    display: inline-block;
    width: 200px;
    height: 8px;
    background-color: green;
    margin-bottom:30px;

}
.slide5{
    display: inline-block;
    width: 100px;
    height: 8px;
    background-color: green;
    margin-bottom:30px;

}
.slide6{
    display: inline-block;
    width: 300px;
    height: 8px;
    background-color: rgb(41, 101, 241);
    margin-bottom:30px;

}
.slide7{
    display: inline-block;
    width: 400px;
    height: 8px;
    background-color: rgb(97, 25, 212);
    margin-bottom:30px;

}
.slide8{
    display: inline-block;
    width: 200px;
    height: 8px;
    background-color: red;
    margin-bottom:30px;

} */
 

@media only screen and (max-width:600px){
    .container img{
        width: 18vw;
        box-shadow: 0px 0px 1px rgb(196, 194, 194);
        padding: 5px;
        margin: 3px;
    }

    .img-box{
    height: 90vh;
    display: block;
    text-align: center;
    padding-top: 2vh;
    
    }
    
}


@media only screen and (max-width:400px) {

    .container img{
       width: 18vw;
        
    }

    .img-box{
        padding-top: auto;
    }
    
}

@media only screen and (max-width:320px){
    .container img{
        width: 15vw;
    }

    .img-box{
        padding-top: auto;
    }
}