@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 10vh;
    background-color: white;
    box-shadow: 0px 0px 2px rgb(204, 198, 198);
    font-family: 'Bebas Neue', cursive;
   

}
.name a:active{
    color: rgb(153, 148, 148);
}

.background-img{
    width: 100vw;
    height: 20vh;
}



nav ul li{
    padding: 0px 50px;
    list-style: none;
    
    
    
}

/* li <a> start */
.li-href{
    text-decoration: none;
    color: black;
    font-size:20px;
}

.li-href:hover{
   color: rgb(92, 167, 92);
}
.li-href:active{
   color: gray;
}
/* li <a> end */

/* navbar portfolio name css */
.name{
    position: absolute;
    left: 20px;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    
    
}

.name-href{
    text-decoration: none;
    color:black;

}

.contact{
    position: absolute;
    right: 40px;
}


.img-logo{
    width: 25px;
}

.github-size{
    position: absolute;
    width: 38px;
    top: -6.5px;
   
    
}


.container-home{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 70vh;
}

.about-text{
   width: 50vw;
   /* margin-left: 20vw; */
   font-family: 'Bebas Neue', cursive;
   
}
.about-text p{
    font-size: 22px;
}


@media only screen and (max-width:1050px){
    .name{
        font-size: 1.7rem;
    } 

    .about-text p{
        font-size: 15px;
    }
}

@media only screen and (max-width:800px){

    .name{
        font-size: 1.5rem;
    }
    nav ul li{
        padding: 0px 10px;
    }
}

@media only screen and (max-width:600px){

    .name{
        font-size: 1.3rem;
        top: 1vh;
    }

    .contact{
        top: 7px;
    }

    nav ul li{
        padding-top:5.5vh;
    }

    .about-text{
        width: 50vw;
    }

}



@media only screen and (max-width:350px){
    
    .name{
        font-size: 1rem;
    }

    .li-href{
        font-size: small;
    }

    .contact{
        top: 4px;
    }

    .img-logo{
        width: 15px;
    }

    .github-size{
        width: 23px;
        top: -4px;
    }
    .about-text p{
        font-size: 12px;
    }
}

@media only screen and (max-width:250px){
    .name{
        font-size: 0.8rem;
    }

    .li-href{
        font-size: x-small;
    }
    .about-text{
        font-size: small;
        width: 70vw;
    }

    nav ul li{
        padding-top:5vh;
    }

}



